* {
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, nav, main, footer {
  padding: 10px;
}

header {
  min-height: 40px;
}

footer {
  min-height: 40px;
  font-size: 12px;
}

header, footer {
  background-color: #81bdd0
}

nav {
  flex: 1;
  background-color: #f6f6f6;
}

main {
  flex: 6;
}

.content-container {
  flex: 1;
  display: flex;
}
